@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body {
  /* background: #5c93a7; */
  /* background: unset !important; */
  background: transparent;
  letter-spacing: -0.05em !important;
  font-family: 'Nanum Gothic', sans-serif;
  /* color: #245c73; */
}

/* #board-info h1>a.badge.badge-live::after {
  content: '생방송 바로가기';
  font-size: 13px !important;
} */

#article-list>.article-list-row>.item>.list-title>.list-writer>span {
  width: 120px !important;
}

#article-list #article-list-category {
  border-top: 2px solid #5c93a7;
  background: white;
}

#article-list #article-list-category>a {
  background: white;
}

#article-list>.article-list-row>.item>.list-header>span {
  background-color: #5c93a7;
}

#article-list>.article-list-row>.item>.list-title>small.comment-count {
  color: #5c93a7;
  letter-spacing: -0.05em !important;
}

#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
  color: #5c93a7;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: #5c93a7;
  border-color: #5c93a7;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  color: #5c93a7;
}

.pagination>li>a,
.pagination>li>span {
  color: #5c93a7;
}

#article-content-wrapper>.header {
  border-top: 2px solid #5c93a7;
}

#article-reply-area #reply-real-area .reply>.reply-header>.reply-writer.logged,
#article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged {
  color: #5c93a7;
}

#article-info>h2 {
  font-weight: bold;
}

#article-info>h2>span.category {
  color: #5c93a7 !important;
}

#article-reply-area>.header h5 {
  color: #5c93a7;
}

#article-reply-area #reply-real-area .reply>.reply-header>.reply-writer.logged,
#article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged {
  color: #5c93a7;
}

.btn-primary {
  background: #245c73 !important;
}

/* 모바일 */

#header-top-notice {
  display: none;
}

header {
  background-color: #5c93a7;
  border-bottom-color: #245c73;
}

header>#header-area>a>h1 {
  background: url(https://intelyshoen.github.io/assets/img/intelyshoen/sgt.png) no-repeat;
  background-size: 86px auto;
  background-repeat: no-repeat;
  height: unset !important;
}

header>#header-area>#header-search-link {
  color: #245c73;
}

header>#header-area>#header-bar-link {
  color: #245c73;
}

header>#header-search-bar #header-search-btn {
  color: #245c73;
}

#article-list>.article-list-row.notice>.item>a.list-title>.list-writer {
  display: none;
}

header>#header-search-bar #header-search-input {
  border-color: #245c73;
}

#article-list>.article-list-row>.item>a.list-title>small.comment-count {
  color: #5c93a7;
}

#article-list>.article-list-row>.item>a.list-title>.list-writer.logged>span {
  color: #5c93a7;
}

#nav#nav>.nav-header {
  background-color: #5c93a7;
  color: white;
}

span.a-badge i.fa.fa-info-circle,
i.fa.fa-home,
#lastc {
  color: #5c93a7;
}

#article-reply-area #reply-real-area .reply>.reply-header>.reply-menu a,
#article-reply-area #reply-best-area .reply>.reply-header>.reply-menu a {
  color: #5c93a7;
}

/* custom-emote */

img[alt='JKanStyle'] {
  width: 60px;
  height: 60px !important;
  padding-left: 60px;
  background: url(https://dl.dropboxusercontent.com/s/qoiz7gi068pt4jr/m_emote_1.gif) no-repeat;
  background-size: 120px;
  background-position: center;
}

span[data-param1='JKanStyle']:hover>img,
span[data-param1='JKanStyle']>img {
  width: 30px;
  height: 30px;
  padding-left: 30px;
  background: url(https://dl.dropboxusercontent.com/s/qoiz7gi068pt4jr/m_emote_1.gif) no-repeat;
  background-size: 80px;
  background-position: center;
}

img[alt='OptimizePrime'] {
  width: 60px;
  height: 60px !important;
  padding-left: 60px;
  background: url(https://dl.dropboxusercontent.com/s/9af5yqtt2bf2xrj/s_emote_1.jpg) no-repeat;
  background-size: 60px;
  background-position: center;
}

span[data-param1='OptimizePrime']:hover>img,
span[data-param1='OptimizePrime']>img {
  width: 30px;
  height: 30px;
  padding-left: 30px;
  background: url(https://dl.dropboxusercontent.com/s/9af5yqtt2bf2xrj/s_emote_1.jpg) no-repeat;
  background-size: 50px;
  background-position: center;
}

/* tomato */

img[alt='tjskduTomato'] {
  width: 60px;
  height: 60px !important;
  padding-left: 60px;
  background: url(https://upload.tgd.kr/20180624/bb05b480a6bd32456f98d2dfa6d22e10.png) no-repeat;
  background-size: 60px;
  background-position: center;
}

span[data-param1='tjskduTomato']:hover>img,
span[data-param1='tjskduTomato']>img {
  width: 30px;
  height: 30px;
  padding-left: 30px;
  background: url(https://upload.tgd.kr/20180624/bb05b480a6bd32456f98d2dfa6d22e10.png) no-repeat;
  background-size: 30px;
  background-position: center;
}

.fr-command.fr-emoticon>img,
.fr-command.fr-emoticon {
  width: 30px !important;
  height: 30px !important;
}